{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">     <!--1st row= contains page title and currently selected categories-->
            <div class="col-12"></div> <!--split into 2 cols, offset first by 2 to push to middle of screen-->
        </div>
        
    </div>
{% endblock %}